# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "2d5818506099a3dbaa570eadbf98e793"
application_url = "https://administrator-beauty-forbes-montreal.trycloudflare.com"
embedded = true
name = "RFQ"
handle = "rfq-4"

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_content,read_inventory,read_product_listings,read_products,write_content,write_discounts,write_products,read_collections,write_customers,write_cart_transforms"

[auth]
redirect_urls = [
  "https://administrator-beauty-forbes-montreal.trycloudflare.com/auth/callback",
  "https://administrator-beauty-forbes-montreal.trycloudflare.com/auth/shopify/callback",
  "https://administrator-beauty-forbes-montreal.trycloudflare.com/api/auth/callback"
]

[pos]
embedded = false

[build]
dev_store_url = "dev-rfq.myshopify.com"
automatically_update_urls_on_dev = true
include_config_on_deploy = true
