<p>bundle button</p>
{% comment %} <button class="bundle_product_CTA">add to bundle</button> {% endcomment %}
{% render 'bundle-drawer' %}
<script src="{{ 'bundle-app.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
      { 
        "type": "product", 
        "id": "product", 
        "label": "product", 
        "autofill": true 
      },
      { 
        "type": "color", 
        "id": "colour", 
        "label": "Star Colour", 
        "default": "#ff0000" 
      }
  ]
}
{% endschema %}

